  <div class="container_fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About US</h1>
                <p class="text-center sub-heading">Its biraj TOTHE Kc toThe r7</p>
                <div class="row">

                     <div class="col-md-6 col-12 hero-text ">
                        <figure>
                            <img src="images/about.svg" alt="herosectionimage">
                        </figure>
                    </div>
                    {{!-- right side --}}
                     <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-item-center  flex-column">
                        <h1>hi, iam BIRAJ KC</h1>
                        <p>iAm creating this <span class="bold-style">project</span> in order to practice , because i want to be a web developer</p>
                        <button class="btn-style btn-primary">ReadMore</button>
                    </div>
                </div>
            </div>
        </div>
    </div>